@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Payroll</h1>
    <p class="lead">Inicio</p>
    <a href="https://github.com/dresoy/payroll">Project en github</a>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Getting started</h2>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pasos para la correcta ejecucion</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li class="">Clonar o descargar el projecto.</li>
                    <li class="">Abrir la solucion de Payroll.</li>
                    <li class="">Cambiar la ruta de la Base de datos en el Web.config</li>
                    <li class="">Abrir la consola de NuGet</li>
                    <li class="">Escribir y ejecutar update-database</li>
                    <li class="">Ejecutar Proyecto.</li>
                </ol>
            </div>
        </div>
        

    </div>
</div>