@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Payroll</h1>
    <p class="lead">Inicio</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Puedes continuar usando el menu superior
        </p>
    </div>

</div>